@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">猫娘领域~</h1>
    <p>一个自由、多元、友好的服务器。</p><br/>
    <a class="btn btn-primary col-2" asp-controller="Auth" asp-action="Login">登录</a>
    <a class="btn btn-secondary col-2" asp-controller="Auth" asp-action="Register">注册</a>
</div>
