<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true"
      internalLogLevel="Info" internalLogFile="nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="layout" value="[${time}][${level}][${logger}]${message}${exception:format=ToString}"/>

    <targets>
        <target xsi:type="File"
                name="File" layout="${layout}"
                encoding="UTF-8" fileName="${baseDir}/logs/latest.log"
                archiveAboveSize="1048576" archiveNumbering="Date"
                archiveEvery="Day" archiveDateFormat="yyyy-MM-dd"
                autoFlush="true" concurrentWrites="true"/>

        <target xsi:type="File"
                name="DebugFile" layout="${layout}"
                encoding="UTF-8" fileName="${baseDir}/logs/debug.log"
                deleteOldFileOnStartup="true" />

        <target xsi:type="ColoredConsole"
                name="Console" layout="${layout}"
                encoding="UTF-8" autoFlush="true">
            <highlight-row condition="level == LogLevel.Trace" backgroundColor="NoChange" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Debug" backgroundColor="NoChange" foregroundColor="DarkGray"/>
            <highlight-row condition="level == LogLevel.Info" backgroundColor="NoChange" foregroundColor="White"/>
            <highlight-row condition="level == LogLevel.Warn" backgroundColor="NoChange" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Error" backgroundColor="NoChange" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Fatal" backgroundColor="NoChange" foregroundColor="DarkRed"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="Console"/>
        <logger name="*" minlevel="Trace" writeTo="DebugFile"/>
        <logger name="*" minlevel="Info" writeTo="File"/>
    </rules>
</nlog>